<!doctype html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="utf-8">
        <meta name="description" content="Homepage">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/homepage_style.css') }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div class="banner">
       
        </div>
        <div class="content">
            <h1>DotA2 API Capstone Project</h1>
            <!-- <h2>- Alex Krysztofiak - Tien Dam - Kelsey Connor Watts -</h2> -->
            <h2>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h2>
            <div class="menu">               
                
                <button id="Login" type="button" class="button"><span></span><a href="login" title="Login">Login</a></button>
                <button id="Signup" type="button" class="button"><span></span><a href="sign_up" title="Signup">Sign up</a></button>
            </div>
            <p class="infoText">
                Login or sign up
            </p>
        </div>
    </body>
    <script></script>
</html>