* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    /* font-family: 'Arvo', serif;*/
    font-family: 'Montserrat', sans-serif; 
    
}


/* Add a font */
.banner {  
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#1a1a1a, #595779);
    box-sizing: border-box;
    overflow: hidden;  
    background-position: center;
    background-size: cover; 
    
    
}
.menu {
    /* background: #1a1a1a; */
    padding-bottom: 4vh;
    min-height: 50px;

}
.menu ul{
    padding: 3vh 2vw;
}
.menu li{
    display: inline;
    float: left;
    margin: 0 1vw;
    
}
.menu li#searchbar{
    float: right;
}
.menu a{
    position: relative;
    display: inline-flex;
    font-size: 3vh;
    color: #ffffff;
    padding: .2vh;
}
.menu a::after, .btn-playerid::after {
    content: '';
    position: absolute;
    bottom: -.3vh;
    left: 0;
    width: 0;
    height: .2vh;
    display: inline-flex;
    background: #7d77ff;
    transition: .3s;
}

.menu a:hover:after, .btn-playerid:hover:after{
    width: 100%;
}

.btn-playerid {
    position: relative;
    display: inline-flex;
    font-size: 3vh;
    color: #ffffff;
    background-color: transparent;
    border: .2vh solid #1a1a1a00;
    border-radius: 5px;
    margin: .1vh;
    transition: .3s;
 }
 .form {
    position: relative;
    display: inline-flex;
    font-size: 3vh;
    color: #ffffff;
    background-color: #464646;
    border: .2vh solid #7d77ff;
    border-radius: 8px;
    padding: .2vw;
 }
 input#playerid.form {
    height: 3.5vh;
}
.alert-danger {
    width: 100%;
    height: 35px;
    font-size: 30px;
    align-content: center;
    text-align: center;
    background-color: red;
    color: #ffffff;
 }
 