html,body {
    height: 100%;
}
[type=checkbox] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
.container{
    /* border: 2px solid #ff8577; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.staticPart{
    border: 2px solid #7d77ff; 
    margin: 1vh auto;
    width: 75vw;
   
    color: #ffffff;  
    align-items: baseline;
    
    padding: 1vh;
}

.staticPart ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    align-items: end;
}
.staticPart li{
    margin: 0 .2vw;
   
}
.staticPart li#searchbar{
    margin: 0 .7vw;
    font-size: 3vh;
      
}

.staticPart img{
    position: relative;
    display: inline-flex;
    color: #ffffff;   
    filter: grayscale(100);
    height: 4vh;
}

    



.flexContainer{
    border: 2px solid #7d77ff;
    margin: auto;
    width: 80vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexChild{
    /* border: 2px solid #0ab510; */

    margin: 1.5vh .4vw;
    width: 14vw;
    height: 20vh;
    min-height: 200px;
    min-width: 300px;
    color: #1a1a1a; 
    

    position: relative;
    background-color: transparent;
    
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    
    /* border: 2px solid #7d77ff;     */
}
.flexChild#str{
    /* border: 2px solid #ff0101; */
    background-color: #cc3232;
}
.flexChild#agi{
    /* border: 2px solid #2bff00; */
    background-color: #58b832;
}
.flexChild#int{
    /* border: 2px solid #001aff; */
    background-color: #2d3ab4;
}

.flexChildImg {
    /* border: 2px solid #7d77ff; */
    position: absolute;
    top: 0;
    z-index: 2;
    border-radius: 10px;
}
.flexChildInfo{
    /* border: 2px solid #db5511; */
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: row;
    align-self: end;
}
.flexChildInfo2 img{
    /* border: 2px solid #ff5500; */
    bottom: 0;
    width: 2.5vw;
    height: 2.5vw;
    z-index: 2;
}
.flexChildInfo h1{
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 100%;
    z-index: 2;
    font-size: 2.2vh;
    /* font-family: 'Arvo', serif; */
    /* border: 2px solid #ffb189; */
    padding: 0;
    
}
.flexChildInfo img {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: .5vw;

}
