.staticPart{
    border: 2px solid #7d77ff; 
    margin: 1vh auto;
    width: 80vw;
    height: 10vh;
    color: #ffffff;  
    align-items: center;
    padding: 1vh;
}

.staticPart ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    align-items: end;
}
.staticPart li{
    margin: 0 .3vw;
   
}
.staticPart li#searchbar{
    margin: 0 1vw;
    font-size: 5vh;     
}
input#hero.form{
    height: 3.5vh;
}
.staticPart img{
    position: relative;
    display: inline-flex;
    color: #ffffff;   
    filter: grayscale(100);
    height: 4vh;
    
}



.flexContainer{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 300px;
    justify-content: center;
    border: 2px solid #7d77ff;
    gap: 20px 10px;
    width: 80vw;

   
}
.flexChild{
    margin: 10px;
    padding: 0px;
    width: 300px;
    aspect-ratio: 16/9;
    color: #f1f1f1;
    position: relative;
    /* border: 2px solid #7d77ff;  */ 
}



/* .flexChild img{
    width: 100%;
    box-shadow: 4px 2px 2px #111111;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    z-index: 1;
    position: absolute;
    
}  */

.flexChildImg {
    width: 100%;
    box-shadow: 2px 1px 1px #111111;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    z-index: 1;
    position: absolute;
    display: block;
    border-radius: 10px;
    aspect-ratio: 16/9;
  
    
}
.flexChild h1{
    font-size: 3vw;
    color: #f1f1f1;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0),40%, rgba(0,0,0,1));
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    opacity: 0;
    transform: translate(-10%, 45%); 
    transition: .3s ;
    overflow: hidden; 
    border-radius: 10px;
}
.flexChild#str h1{
    background: linear-gradient(rgba(255, 0, 0, 0),40%, rgb(189, 60, 60));   
}
.flexChild#agi h1{
    background: linear-gradient(rgba(255, 0, 0, 0),40%, rgb(52, 157, 43));   
}
.flexChild#int h1{
    background: linear-gradient(rgba(255, 0, 0, 0),40%, rgb(60, 105, 189));   
}


.flexChild:hover .flexChildImg{
    width: 135%;
    transform: translate(-10%, -10%); 
    z-index: 2;

}

.flexChild:hover h1{
    height: 50%;
    width: 135%;
    opacity: 1;
    z-index: 2;
}
.priAttrImg {
    height: 40px;
    width: 40px;
    align-self: baseline;
    padding: 1px;  
    margin: 1px; 
}
