* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    /* font-family: 'Arvo', serif;*/
    font-family: 'Montserrat', sans-serif; 
}
body, html {
    height: 100%;
}
.background-img {
    background-image: url(MiscImages/facelessvoid_uhd_background.jpg);
  /* Add the blur effect */
  
    filter: blur(60px);
    -webkit-filter: blur(60px);
  /* Full height */
    height: 100%;
  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100vh;
    
    align-items: center;
    justify-content: center;
    
}
.content{
    
    margin: auto;
    width: 50%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
}



.content-right{
    width: 100%;
    height: 100%;

    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.internal-right{
    background-image: url(MiscImages/facelessvoid_uhd_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
    width: 80%;
    color: #fff;
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    
}
.content-left{
    width: 70%;
    height: 100%;
    float: right;
    z-index: 0;
    background-color: #1a1a1ae8;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.internal-left{
    text-align: center;
    width: 100%;
    font-family: 'Arvo', serif;
    margin: 5px; 
    display: flex row;
}
h1{
    font-size: 7vw;
    font-family: 'Arvo', serif;
    /* color: #1a1a1a;
    background-color: #C32534; */
    color: #7d77ff;
    /* border: 5px solid #C32534; */
    border-radius: 15px; 
    font-weight: 500;
    width: 100%;
    height: 100%;     
}
h2 {
    font-size: 4vw;
    font-weight: 400;
    color: #BF7229;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    
}

.button-menu a{
    text-decoration: none;
    list-style: none;
    color: #1a1a1a;
    font-size: 3vw;
    z-index: 3;
    margin: auto;
    font-family: 'Arvo', serif;
    transition: .4s;
}
.button-menu a:hover {
    color: #f1f1f1;
}

.button{
   width: 18vw;
   height: 12vh;
   text-align: center;
   margin: 10px 10px;
   border-radius: 15px;
   font-weight: bold; 
   background-color: #7d77ff;
   color: #ffffff;
   font-weight: bolder;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   text-decoration: none;
   z-index: 2;
   
}
