<!doctype html>
<html>
    <head>
        <title>Alex, Kelsey, Tien Capstone Project</title>
        <meta charset="utf-8">
        <meta name="description" content="Homepage">
        <link rel="stylesheet" href="homepage_style.css">
 
    </head>

    <body>
      <h1>Hello</h1>
      <h1>Alex, Kelsey, Tien Capstone Project</h1>
       <br/>
     
        <div class="row">
            <div class="column"> 
                <p> Place Holder Column</p>
            </div>
            <div class="column">
                <p> Place Holder Column</p>
            </div>
          </div>
        
    </body>
    <script ></script>
</html>