<!doctype html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="description" content="Player Info">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/basic_style.css') }}">
        
        {% block stylesheet %} 
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/heropage_style.css') }}"> 
        {% endblock %}
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
		<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <title>{% block title %} Base {% endblock %}</title>

    </head>

    <body>
        <div class="banner">
            <div class="menu">
                <ul class="menu__list">
                    {% if user.is_authenticated %}
                    
                    <li class="menu__item">
                        <a  href="userprofile" title="">Profile</a>
                    </li>
                    <li class="menu__item">
                        <a href="heroes" title="">Explore Heroes</a>
                    </li>
                    <li class="menu__item">
                        <a href="blog" title="">Blog</a>
                    </li>
                    <li class="menu__item">
                        <a href="logout" title="logout">Logout</a> 
                    </li>  
                    <li class="menu__item" id="searchbar">
                        <form method="POST">
                            <div class="form-group">
                                <label for="playerid"></label>
                                <input 
                                    type="text" 
                                    class="form" 
                                    id="playerid" 
                                    name="playerid" 
                                    placeholder="Search player"
                                />
                                <button id="playerid-btn" type="submit" class="btn-playerid" onClick="runPlayerId()"">
                                    Search player
                                </button>
                            </div>
                        </form>
                    </li>
                   

                    {% else %}
                    <li class="menu__item">
                        <a href="/" title="">Home Page</a>
                    </li>
                    <li class="menu__item">
                        <a href="login" title="Login">Login</a>
                    </li> 
                    
                    {% endif %}
                </ul>
            </div> 

            {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
            
            <div class="staticPart">
              {% block staticContent %} This is a static Part {% endblock %}
            </div>
            <div class="dynamicPart">
              {% block flexContent %} This will have Flex(React) Content {% endblock %}
            </div> 

        </div>
    </body>

    {% block javascript %}
    <script type="text/babel" src=""></script>
    {% endblock %}
    <script type="text/javascript">
       

        const runPlayerId = () => {
            const playerId = document.getElementById("playerid").value;
            // window.alert("Player Id: " + playerId);
            return playerId;
        };
    </script>
</html>


    <!-- <script type="text/babel" src="{{ url_for('static', filename='JS_HeroPage.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->
