{% extends "base.html" %}

{% block stylesheet %} 
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/blog_style.css') }}"> 
{% endblock %}


{% block title %} 
Blog
{% endblock %}

{% block staticContent %} 
<div class="title"><h1>Blog</h1></div>
{% endblock %}

{% block flexContent %} 
<div class="flexContainer" id="divBlogDisplay">
</div> 
{% endblock %}

{% block javascript %} 
<script type="text/babel" src="{{ url_for('static', filename='JS/JS_BlogPage.js') }}"></script>
{% endblock %}