{% extends "base.html" %}

{% block stylesheet %} 
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/playerprofile_style.css') }}"> 
{% endblock %}


{% block title %} 
Blog
{% endblock %}

{% block staticContent %} 

<iframe src="https://dota2.fandom.com/wiki/Version_7.32e" title="description" height="400px" width="70%" ></iframe>
<iframe src="https://dota2.fandom.com/wiki/Version_7.32d" title="description" height="400px" width="70%" ></iframe>

{% endblock %}

{% block flexContent %} 
   
{% endblock %}

{% block javascript %} 
<script type="text/babel" src="{{ url_for('static', filename='JS/JS_PlayerProfile2.js') }}"></script>
{% endblock %}