<!doctype html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="utf-8">
        <meta name="description" content="Homepage">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/homepage_style.css') }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="background-img"></div>

        <div class="container">

            <div class="content">

                <div class="content-left">
                    <div class="internal-left">
                        <h1>Dota API</h1>
                    </div>
                    <div class="internal-left">
                        <!-- <h2>- Alex Krysztofiak -</h2>
                        <h2>- Tien Dam -</h2>
                        <h2>- Kelsey Connor Watts -</h2> -->
                        <h2>- NAME -</h2>
                        <h2>- NAME -</h2>
                        <h2>- NAME -</h2>
                    </div>
                  
                   
                    <div class="internal-left">
                            <div class="button-menu">               
                            <button id="Login" type="button" class="button"><span></span><a href="login" title="Login">Login</a></button>
                            <button id="Signup" type="button" class="button"><span></span><a href="sign_up" title="Signup">Sign up</a></button>
                            </div>
                    </div>
                        
                    
                </div>
                
                

            </div>

            <div class="content">

                <div class ="content-right">
                    <div class="internal-right"></div>
                </div>

                

            </div>

        </div>
    </body>
    <script></script>
</html>