<!doctype html>
<html>
    <head>
        <title>underconstruction</title>
        <meta charset="utf-8">
        <meta name="description" content="Under Construction">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/underconstruction_style.css') }}"> 
    </head>

    <body>
        <div class="banner">
       
        </div>
        <div class="content">
            <h1>This page is under construction</h1>
            <div class="menu">
                <button id="GoBack" type="button"><span></span><a href="/" title="Return to home page">- Return to home page -</a></button>
            </div>
            <p class="infoText">
                Please return to the home page
            </p>
        </div>
    </body>
    <script></script>
</html>