{% extends "base.html" %}

{% block stylesheet %}   
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login_style.css') }}"> 
{% endblock %}


{% block title %} 
Login
{% endblock %}

{% block staticContent %} 
<form method="POST">
    
    <div class="full-form">
        <h3>Login</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter email"
            />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password" 
                placeholder="Enter password"
            />
        </div>
    
        <button type="submit" class="button">
            <span></span>
            Submit
        </button>
    
        <button id="Signup" type="button" class="button">
            <span></span>
            <a href="sign_up" title="signup">Don't have an account? Sign up here</a>
        </button>
    </div>
</form>
{% endblock %}

{% block flexContent %} 
<!-- <div class="flexContainer" id="divSkillDisplay">
   
</div>  -->
{% endblock %}

{% block javascript %} 
<!-- <script type="text/babel" src="{{ url_for('static', filename='JS/JS_HeroPage.js') }}"></script> -->
{% endblock %}