{% extends "base.html" %}

{% block stylesheet %} 
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/playerprofile_style.css') }}"> <!-- this will have to change -->
{% endblock %}


{% block title %} 
Match
{% endblock %}

{% block staticContent %} 

{% endblock %}

{% block flexContent %} 
<div class="flexContainer1" id="divRecentMatchDisplay">  <!-- This is going to be the match  --><!-- this will have to change -->
                
</div>     
{% endblock %}

{% block javascript %} 
 <script type="text/babel" src="{{ url_for('static', filename='JS/JS_PlayerProfile2.js') }}"></script> <!-- this will have to change -->
{% endblock %}