{% extends "base.html" %}

{% block stylesheet %} 
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login_style.css') }}"> 
<!-- Make a css page for sign ins -->

{% endblock %}


{% block title %} 
Sign up
{% endblock %}

{% block staticContent %} 
<form method="POST">
    
    <div class="full-form">
        <h3>Sign Up</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter email"
            />
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input 
                type="text" 
                class="form-control" 
                id="firstname" 
                name="firstname" 
                placeholder="Enter first name"
            />
        </div>
        <div class="form-group">
            <label for="sid">Steam ID</label>
            <input 
                type="number" 
                class="form-control" 
                id="sid" 
                name="sid" 
                placeholder="Enter Steam ID"
            />
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input 
                type="password" 
                class="form-control" 
                id="password1" 
                name="password1" 
                placeholder="Enter password"
            />
        </div>
        <div class="form-group">
            <label for="password2">Confirm password</label>
            <input 
                type="password" 
                class="form-control" 
                id="password2" 
                name="password2" 
                placeholder="Confirm password"
            />
        </div>
    
        <button type="submit" class="sign_in_button">
            Submit
        </button>
    </div>
</form>
{% endblock %}

{% block flexContent %} 
<!-- <div class="flexContainer" id="divSkillDisplay">
   
</div>  -->
{% endblock %}

{% block javascript %} 
<!-- <script type="text/babel" src="{{ url_for('static', filename='JS/JS_HeroPage.js') }}"></script> -->
{% endblock %}